Amalul Mursyidin Dzaki  
09011282328024 - SK3C

# **Data Exploration and Summary Statistics**

---

Pada ini, Saya akan melakukan eksplorasi data dan menghitung berbagai statistik deskriptif untuk memahami karakteristik dataset yang diberikan. Anda akan menggunakan *Python* dan library seperti **Pandas**, **NumPy**, dan **Matplotlib/Seaborn** untuk menganalisis dan memvisualisasikan data.


## Daftar Isi

- [Tujuan Tugas Ini](#tujuan-tugas-ini)
- [Langkah & Penyelesaian](#langkah-&-penyelesaian)
  - [Import Dataset](#import-dataset)
  - [Eksplorasi Awal](#eksplorasi-awal)

## Tujuan Tugas Ini

Yang saya dapatkan (harapannya) dari menyelesaikan tugas ini:

1.	Memahami cara membaca dan mengimpor dataset ke dalam Python.
2.	Menghitung statistik deskriptif seperti mean, median, mode, standard deviation, variance, dan quartiles.
3.	Melakukan eksplorasi data awal untuk mengidentifikasi pola, outliers, missing values, dan distribusi data.
4.	Membuat visualisasi seperti histograms, box plots, dan scatter plots untuk menggambarkan distribusi dan hubungan antar variabel.
5.	Menulis laporan singkat yang menjelaskan temuan dari eksplorasi data.

## Langkah & Penyelesaian

### Import Dataset

---

Baca dataset yang diberikan menggunakan Pandas.

> Untuk tugas ini, dataset yang cocok adalah dataset tentang kesehatan, seperti dataset Heart Disease UCI dari Kaggle. Dataset ini berisi berbagai variabel terkait kesehatan pasien dan apakah mereka menderita penyakit jantung atau tidak.

Pertama, import dulu package **Pandas** lalu kita inisialisasi (disini kita inisialisasi sebagai pd).

In [35]:
import pandas as pd

df = pd.read_csv('heart_disease_uci.csv')

- `df` adalah *DataFrame*, yang merupakan fungsi berasal dari pustaka Pandas. ini merupakan struktur data 2D seperti pada Excel. 
- `df` membaca file yang dimuat yaitu `heart_disease_uci.csv` dengan perintah agar menyuruh dimuat dengan memanfaatkan method `read_csv()` dari library Pandas.
- `df =` *(nama var pandas)*`.read_`*(tipe file data)*`('`(path file data)`')`

> Yang dari Java mungkin kaget karena tidak ada inisialisasi, tapi inilah Python, karena Python adalah bahasa pemrograman yang dinamis.

### Eksplorasi Awal

---

#### 1. Tampilkan 5 baris pertama dan terakhir dari dataset.

gunakan method `head()` dari library Pandas lalu gunakan fungsi `print()` untuk menampilkan 5 baris pertama.

In [36]:
print(df.head())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0

gunakan method `tail()` dari library Pandas lalu gunakan fungsi `print()` untuk menampilkan 5 baris terakhir.

In [37]:
print(df.tail())

      id  age     sex        dataset               cp  trestbps   chol    fbs  \
915  916   54  Female  VA Long Beach     asymptomatic     127.0  333.0   True
916  917   62    Male  VA Long Beach   typical angina       NaN  139.0  False
917  918   55    Male  VA Long Beach     asymptomatic     122.0  223.0   True
918  919   58    Male  VA Long Beach     asymptomatic       NaN  385.0   True
919  920   62    Male  VA Long Beach  atypical angina     120.0  254.0  False

              restecg  thalch  exang  oldpeak slope  ca          thal  num
915  st-t abnormality   154.0  False      0.0   NaN NaN           NaN    1
916  st-t abnormality     NaN    NaN      NaN   NaN NaN           NaN    0
917  st-t abnormality   100.0  False      0.0   NaN NaN  fixed defect    2
918    lv hypertrophy     NaN    NaN      NaN   NaN NaN           NaN    0
919    lv hypertrophy    93.0   True      0.0   NaN NaN           NaN    1

#### 2. Lihat informasi tentang dataset (tipe data, jumlah entri, jumlah kolom).

gunakan method `dtypes` dari library Pandas lalu gunakan fungsi `print()` untuk menampilkan tipe data masing-masing kolom.

In [38]:
print(df.dtypes)

id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

gunakan method `count()` dari library Pandas lalu gunakan fungsi `print()` untuk menampilkan jumlah entri (bukan null) di masing-masing kolom.

In [39]:
print(df.count())

id          920
age         920
sex         920
dataset     920
cp          920
trestbps    861
chol        890
fbs         830
restecg     918
thalch      865
exang       865
oldpeak     858
slope       611
ca          309
thal        434
num         920
dtype: int64

gunakan method `shape[1]` dari library Pandas lalu gunakan fungsi `print()` untuk menampilkan jumlah Menampilkan jumlah kolom di dataset.

> - df.shape[0]: Menunjukkan jumlah baris (rows) dalam DataFrame.
> - df.shape[1]: Menunjukkan jumlah kolom (columns) dalam DataFrame.

untuk lebih singkat, kita gunakan `f` dalam string agar bisa nambahin kode atau ekspresi python kedalam string pakai `{}` dibandingkan dengan metode format string lama seperti `str.format()` atau `%` operator. 

> jika di Java pakai `String.format()`

In [40]:
print(f"Jumlah kolom: {df.shape[1]}")

Jumlah kolom: 16

FYI : Semua bisa disingkat pakai method `info()`.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB


#### 3. Cek nilai missing dan outliers.

**Nilai Missing** 

buat variabel yang akan digunakan sebagai variabel untuk nilai missing (saya gunakan `nilaiMissing`) lalu gunakan method `isnull` dari library Pandas, sertakan dengan fungsi `sum()` untuk menjumlahkan nilai missing lalu gunakan fungsi `print()` untuk menampilkan.

`[nilaiMissing > 0]` berfungsi menampilkan data pada `nilaiMissing` yang bernilai diatas 0.

In [44]:
nilaiMissing = df.isnull().sum()
print(nilaiMissing)

# Menampilkan kolom dengan jumlah missing values
print("Kolom dengan missing values:")
print(nilaiMissing[nilaiMissing > 0])

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64
Kolom dengan missing values:
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
dtype: int64

**Nilai Outlier**

Disini, saya menggunakan menggunakan metode IQR (Interquartile Range).

- `for` melakukan pengulangan sebanyak `column` di atau `in` variabel `df` yang memilih semua kolom dataframe yang memiliki tipe data numerik dengan method `select_dtypes(include=['float64', 'int64']),`. fungsi itu mencakup tipedata *float64* dan *int64*

- `Q1` merupakan variabel untuk menyimpan quartil 1. `df[colum]` merupakan perintah untuk mengakses kolom yang dituju dan method `quantile()` untuk menghitung nilai kuartil. lakukan ini untuk `Q2`.
  > Quartil 1 : 25% atau 0.25  
  > Quartil 3 : 75% atau 0.75

- `IQR` adlah variabel untuk nilai Interquartile Range (IQR).
  > IQR adalah jarak antara quartil 1 dan quartil 3.
  > Rumusnya `IQR = Q3 - Q1`

- Untuk menghitung batas bawah dan batas atas, saya membuat variabel `batasBawah` dan `batasAtas` 
  > Rumus batas atas = `Q1 - 1.5 * IQR`
  > Rumus batas bawah = `Q3 + 1.5 * IQR`

- kita akan memfilter outlier agar hanya menampilkan outlier pada variabel `outlier`. gunakan `[column] < batasBawah`  untuk menyeleksi nilai yang lebih kecil dari nilai `batasBawah` dan `[column] > batasAtas` untuk menyeleksi nilai yang lebih besar dari nilai `batasAtas` lalu gunakan operator OR (`|`) untuk menampilkan kedua syarat diatas.
- variabel `angkaOutlier` mengambil data `outlier` dan mengembalikan baris menggunakan method `shape[0]`

In [10]:
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    batasBawah = Q1 - 1.5 * IQR
    batasAtas = Q3 + 1.5 * IQR
    
    # Mendeteksi outliers
    outliers = df[(df[column] < batasBawah) | (df[column] > batasAtas)]
    angkaOutlier = outliers.shape[0]
    
    print(f"{column}: {angkaOutlier} outliers")

id: 0 outliers
age: 0 outliers
trestbps: 28 outliers
chol: 183 outliers
thalch: 2 outliers
oldpeak: 16 outliers
ca: 20 outliers
num: 0 outliers